#!/usr/bin/make -f

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0 -Wall
else
	CFLAGS += -O2 -Wall
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

include /usr/share/dpatch/dpatch.make

NSCA=debian/nsca
SEND_NSCA=debian/nsca

build: build-stamp
build-stamp: patch-stamp
	dh_testdir
	./configure --with-nsca-user=nagios --with-nsca-grp=nogroup --with-nsca-port=5667 --prefix=/usr --sysconfdir=/etc --localstatedir=/var --libdir=/usr/lib/nagios
	$(MAKE) all
	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	if test -f Makefile; then $(MAKE) distclean; fi
	dh_clean
	rm -f {build,install}-stamp

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	dh_installchangelogs Changelog
	dh_installdocs README
	dh_installexamples nsca.xinetd
	dh_installinit -u defaults 30
	dh_installmanpages debian/nsca.1 debian/send_nsca.1
	install -D -m 755 src/nsca ${NSCA}/usr/sbin
	install -D -m 640 nsca.cfg ${NSCA}/etc
	install -D -m 755 src/send_nsca ${SEND_NSCA}/usr/sbin
	install -D -m 640 send_nsca.cfg ${SEND_NSCA}/etc
	install -D -m 644 debian/nsca.lintian-overrides ${NSCA}/usr/share/lintian/overrides/nsca
	touch install-stamp

binary: binary-indep binary-arch
binary-indep: 
binary-arch: install-stamp
	dh_testdir
	dh_testroot
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: binary binary-arch binary-indep clean install
